.container{
    border:3px solid  rgb(217, 215, 215);
    height:650px;
    width:570px;
    margin-left:470px;
    border-radius:10px;
    margin-top:40px;
    background-color: rgb(250, 246, 246);
}


div img{
    height:290px;
    width:545px;
    border-radius:5px;
    margin-left:13px;
    margin-top:10px;
}


span{
 margin-left:50px;
} 


.button1{
    margin-top:30px;
    height:30px;
    width:80px;
    border-radius:5px;
    border:3px solid rgb(240, 232, 232);
    font-weight: bold;

}


.button2{
    margin-top:30px;
    margin-left:5px;
    height:30px;
    width:80px;
    border-radius:5px;
    border:3px solid  rgb(240, 232, 232);
    font-weight:bold;
}


h1{
    margin-left:30px;
}


.paragraph{
    text-align: center;

}


.button3{
    height:40px;
    width:150px;
    border-radius:7px;
    margin-left:205px;
    margin-top:30px;
    background-color: rgb(174, 174, 245);
    border:3px solid rgb(174, 174, 245);
    color: rgb(28, 28, 246);
    font-weight: bold;
}