*{
    margin:0px;
    padding:0px;
}


ul{
    display:flex;
   
}


ul li{
    list-style:none;
    padding:20px 30px;
     
}


nav{
   background-color: rgb(242, 181, 128);
    

} 


body{
    background-color:rgb(49, 47, 47);
}


.boxes{
    background-color:whitesmoke;
    margin:20px 34px;
    border:2px solid black;
    padding:55px 23px;
    text-align:center;
}


.box1{
    border:2px solid black;
    background-color:rgb(116, 170, 171);
    height:70vh;
    width:45%;
    display:inline-block;
    margin: 0px 10px;
    
}


.box2{
    border:2px solid black;
    background-color: rgb(80, 134, 236);
    height:70vh;
    width:45%;
    display:inline-block;
    margin:0px 10px;
}


.anotherbox{
    background-color: rgb(49, 47, 47);
    color:white;
    border:2px solid white;
    height:25px;
    border-radius:8px;
    text-align:center;
    padding:40px 0px;
    font-size:20px;
    margin:14px 32px;
}


.red-circle{
  height:60px;
  width:60px;
  background-color:red;
  border-radius:50%;  
  right:20px;
  bottom:8px;
  position:fixed;

}


footer{
    color:black;
    text-align:center;
    background-color:whitesmoke;
    height:60px;
    padding:20px 0px;
    
}


header{
   position:sticky;
   top:0px; 
}





