.container{
     border:3px solid black;
     height:80vh;
     display:flex;
     /* Center */
     justify-content:center;

     /* Vertically Center */
     align-items:center;

     /* Flex Start */
     justify-content:flex-start;

     /* Flex End */
     justify-content:flex-end;

     /* Flex Space Around */
     justify-content:space-around;

     /* Flex Space Between */
     justify-content:space-between;

     /* Flex Space Evenly: Means Equally Space */
     justify-content:space-evenly;

     /* Align Item Start */
     align-items:flex-start;

     /* Align Item End */
     align-items:flex-end;

  /* -------- These are the 70% of the flexbox which mostlly used in the webites. --------- */


     /* Flex Direction */
     flex-direction:column;
     flex-direction:column-reverse;

     flex-direction:row;
     flex-direction:row-reverse;

 /* Flex Wrap means boxes jyda hai to vo overflow na hokar, box niche a jayenge  */
    flex-wrap:wrap;

   /* Align Content Center */
   /* align-content:center;
    align-content:flex-start;
    align-content:flex-end;*/


   /* flex-flow:row wrap;
    flex-flow:column wrap;*/
    gap:32px;
    row-gap:30px;
    column-gap:40px;
    gap:40px 10px;
    


}    


.box{
    border:2px solid rgb(126, 71, 71);;
    height:50px;
    width:50px;
    background-color: rgb(218, 160, 13);

} 