*{
   margin:0px;
   padding:0px; 
}

.parent{
    border:5px solid  rgb(234, 81, 81);
    height:833px;
    margin:43px;
    padding:84px;
    /* position: absolute*/
}

.box5{
    border:3px solid black;
    height:60px;
    width:80vw;
    text-align:center;
    background-color:rgb(231, 82, 112);
    margin:3px;
    padding:3px;
    position:sticky;
    top:0px;
}

.box1{
    border:3px solid black;
    height:60px;
    width:80vw;
    text-align:center;
    background-color: rgb(104, 104, 227);
    margin:3px;
    padding:3px;
}

.box2{
    border:3px solid black;
    height:60px;
    width:80vw;
    text-align:center;
    background-color:rgb(254, 216, 1);
    margin:3px;
    padding:3px;
    position:relative;
    z-index:1;
}

.box3{
    border:3px solid black;
    height:60px;
    width:80vw;
    text-align:center;
    background-color: rgb(53, 212, 53);
    margin:3px;
    padding:3px;
    position:absolute;
    top:0px;
    left:134px;
}

.box4{
    border:3px solid black;
    height:60px;
    width:80vw;
    text-align:center;
    background-color: darkorange;
    margin:3px;
    padding:3px;
    position:fixed;
}